h3 .death {
    text-align: left;
    font-weight: 900;
}
header {
    background-color: rgb(255, 255, 255)
}
.jumbotron {
    background-color: rgb(255, 255, 255)
}
row {
    background-color: rgb(145, 69, 34)
}